.restaurant {
  width: 480px;
  position: fixed;
  top: 100px;
  left: 500px;
  border: 1.5px solid #5e3830;
  border-radius: 18px;
  box-shadow: #b194702e 2px 2px 10px 2px;
  background-color: #f8fae591;
  padding: 10px 10px;
}

h2 {
  color: #76453B;
  text-shadow: 2px 3px 6px #b07e00df;
}
