.body-container {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('top-view-food-banquet_resized.jpg');
  background-size: cover;
  background-position: top;
  position: fixed;
  top: 60px;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

.restaurant-card {
  border-radius: 8px;
  border: 1px solid rgba(171, 171, 171, 0.237);
  padding: 6px 12px;
  margin: 8px 14px;
  background-color: #f8fae535;
  box-shadow: 2px 2px 2px 1px #b194702e;
}

.restaurant-card a {
  color: #F8FAE5;
  text-decoration: none;

  &:hover {
    color: rgba(239, 89, 25, 0.836);
    font-weight: bold;
  }
}

.restaurants-container ul {
  list-style-type: none;
}

#navbarSupportedContent {
  display: contents;
}

.btn-create a {
text-decoration: none;
padding: 6px 12px;
margin: 10px 20px;
background-color: rgba(239, 89, 25, 0.203);
color: rgb(148, 148, 148);
border-radius: 6px;

  &:hover {
    color: rgba(171, 171, 171, 0.781);
    background-color: rgba(239, 89, 25, 0.509);
  }
}
