<div class="booking-container">
    <%= simple_form_for [@restaurant, @booking] do |f| %>
      <div id="booking-form">
        <%= f.input :date, as: :datetime, order: [:day, :month, :year], label_html: {class: 'label-text'} %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
