<div class="restaurants-container">
  <ul>
    <% if @restaurants.present? %>
      <% @restaurants.each do |restaurant| %>
        <li>
          <div class="restaurant-card">
            <%= link_to restaurant.name, restaurant_path(restaurant) %>
          </div>
        </li>
      <% end %>
    <% else %>
      <h2>Restaurant not found!</h2>
    <% end %>
  </ul>
  <div class="btn-create">
    <%= link_to "Create a Restoraurant",  new_restaurant_path %>
  </div>
</div>
