.modal-center-container {
  background-color: #1c1919d6;
  padding-left: 50px;
  border-radius: 20px;
}

.modal-content {
  background-color: #1c1919;
  border-radius: 12px;
  width: 600px;
  margin: 0 auto;
}


.modal-body {
  color: black;
}

.modal-title {
  color: black;
}

.modal-header {
  border: none;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  border: none;
  justify-content: space-evenly;
}

.modal-content {
  border-radius: 10px;
  background: white;
  width: 80%;
}
