.bg-img {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  // padding: 270px 350px;
  width: 100vw;
  position: relative;
}

.bg {
  display: flex;
}

h1, p {
  color: #e9e9e9;
  text-shadow: 2px 3px 6px #b07e00df;
}

.text-content {
  position: fixed;
  top: 47%;
  left: 27%;
  width: 35%;
}
