.navbar-mrst {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  background-color: #21f70540;
  border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  height: 60px;
}

.navbar-mrst .navbar-collapse {
  flex-grow: 0;
}

.navbar-mrst .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent > ul {
  display: contents;
  justify-content: center;
  align-items: center;
}
